<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.sujata.social_me" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activities.EventActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sujata.social_me.activities.lists.MainActivity_nav" />
        </activity>
        <activity android:name=".activities.RegisterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GroupActivity"
            android:label="@string/title_activity_group"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sujata.social_me.activities.lists.MainActivity_nav" />
        </activity>
        <activity
            android:name=".activities.SentPostDetails"
            android:label="@string/title_activity_sent_post_details"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sujata.social_me.activities.lists.MainActivity_nav" />
        </activity>
        <activity
            android:name=".activities.ReceivedPostDetails"
            android:label="@string/title_activity_received_post_details"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sujata.social_me.activities.lists.MainActivity_nav" />
        </activity>
        <activity
            android:name=".activities.lists.SentPostList"
            android:label="@string/title_activity_sent_post_list"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sujata.social_me.activities.lists.MainActivity_nav" />
        </activity>
        <activity
            android:name=".activities.about_us"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".activities.lists.MainActivity_nav"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sujata.social_me.activities.lists.MainActivity_nav" />
        </activity>
        <activity
            android:name=".activities.lists.MainActivity_nav"
            android:label="@string/title_activity_main_activity_nav"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.lists.MainActivity_nav" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sujata.social_me.activities.lists.MainActivity_nav" />
        </activity>

        <activity
            android:name=".ResponseLists"
            android:label="@string/title_activity_response_lists"
            android:parentActivityName=".activities.SentPostDetails"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.application.sujata.social_me.activities.SentPostDetails" />
        </activity>
        <activity
            android:name=".activities.lists.ResponseList"
            android:label="@string/title_activity_response_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
